@media only screen and (max-width: 600px) {
  div.signupform {
    max-height: 800px;
	padding: 20px;
  }
}
body {
	margin: 0;
	padding: 0;	
	background-size: cover;
	background-position: center;
	font-family: sans-serif;	
}

.signup {
	background-color: #3399ff;
}

.login {
	background-color: #008000;
}

.loginform { 
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;	
	background-color: white;
	width: 400px;
	height: 530px;
	padding-left: 20px;
	padding-top: 20px;
	text-align: center;	
	border-radius: 20px;
	background-color: 
}

.signupform {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: white;
	width: 400px;	
	padding-left: 20px;
	padding-top: 20px;
	text-align: center;	
	border-radius: 20px;
}

.signupform h1 {
	color: #3399ff;
}

.loginform h1 {
	color: #008000;
}

.sign_sbmt_btn {
	background-color: #3399ff;
}

.log_sbmt_btn {
	background-color: #008000;
}

.input-box {	
	border-radius: 20px;
	padding: 10px;
	margin: 10px;
	width: 300px;
	border: 1px solid #999;
	outline: none;
}

.signupform img {
	width: 70px;
}

.loginform img {
	width: 70px;
}

button {
	border-radius: 20px;
	padding: 10px;	
	width: 300px;	
	border: none;
	margin: 10px;
	outline: none;
	font-size: 20px;
	color: white;
	cursor: pointer;
}

.error_form {
	font-size: 15px;
	font-family: Arial;
	color: #FF0052;
}
